### 数据处理

In [1]:
#导包
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# 导入数据
df=pd.read_csv('weather.csv',index_col=0)
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No

In [3]:
df.shape

(142193, 22)

In [4]:
# 抽取样本
#抽取5000条样本进行后续处理
weather = df.sample(n=5000,random_state=0)
weather.shape

(5000, 22)

In [5]:
weather.index = range(weather.shape[0]) #重置索引
weather.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainTomorrow
0,2012-10-09,Cairns,17.4,29.0,0.0,3.6,11.1,NNE,33.0,SE,...,19.0,63.0,61.0,1013.1,1008.9,1.0,0.0,26.1,27.8,No
1,2011-05-24,Bendigo,6.8,14.4,0.8,0.8,NaN,S,46.0,SW,...,22.0,80.0,55.0,1010.2,1012.4,5.0,4.0,10.4,12.7,No
2,2009-08-06,Walpole,10.1,15.4,14.6,NaN,NaN,WSW,31.0,SW,...,9.0,70.0,61.0,1014.4,1016.1,NaN,NaN,12.3,13.0,No
3,2009-03-06,Perth,14.4,33.4,0.0,8.0,11.6,SW,41.0,ESE,...,17.0,40.0,23.0,1019.2,1016.6,1.0,0.0,23.0,32.3,No
4,2010-07-02,AliceSprings,6.8,14.3,10.0,0.2,7.3,E,28.0,ENE,...,13.0,92.0,47.0,1027.6,1024.4,7.0,1.0,7.3,13.7,No

In [6]:
weather.columns #提取所有的特证名

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainTomorrow'],
      dtype='object')

In [7]:
weather.Date #查看日期数据

0       2012-10-09
1       2011-05-24
2       2009-08-06
3       2009-03-06
4       2010-07-02
5       2010-06-11
6       2009-04-03
7       2012-06-20
8       2013-03-11
9       2015-11-15
10      2015-03-02
11      2010-03-23
12      2012-07-28
13      2009-01-03
14      2016-09-24
15      2014-03-23
16      2014-01-04
17      2011-12-09
18      2009-08-22
19      2016-11-24
20      2016-02-19
21      2016-12-02
22      2012-05-24
23      2014-04-14
24      2016-05-01
25      2011-01-13
26      2016-09-10
27      2012-07-31
28      2010-05-20
29      2014-08-09
           ...
4970    2013-07-19
4971    2016-03-01
4972    2011-05-24
4973    2010-11-25
4974    2016-11-13
4975    2017-02-28
4976    2015-09-21
4977    2009-03-19
4978    2017-06-20
4979    2009-08-21
4980    2008-04-21
4981    2015-02-14
4982    2015-06-14
4983    2010-12-26
4984    2011-11-29
4985    2015-12-24
4986    2012-10-22
4987    2015-03-13
4988    2011-05-14
4989    2011-01-02
4990    2016-08-17
4991    2014-09-04
4992    2013-10-29
4993    2014-05-14
4994    2015-04-30
4995    2009-08-15
4996    2014-11-24
4997    2014-02-24
4998    2016-03-09
4999    2016-08-27
Name: Date, Length: 5000, dtype: object

In [8]:
weather.Date.value_counts()

2009-08-23    9
2009-07-02    7
2015-08-20    7
2015-11-06    7
2013-07-06    7
2017-05-29    6
2012-06-17    6
2014-01-04    6
2016-03-09    6
2015-02-09    6
2016-08-27    6
2015-10-26    6
2010-02-28    6
2015-10-10    6
2013-05-03    6
2009-02-22    6
2017-05-25    5
2011-11-29    5
2013-09-09    5
2011-09-11    5
2014-02-03    5
2010-12-28    5
2015-11-27    5
2015-06-02    5
2016-06-28    5
2016-12-10    5
2009-11-29    5
2015-01-18    5
2016-08-09    5
2009-12-25    5
             ..
2009-04-18    1
2014-01-15    1
2012-06-24    1
2012-09-23    1
2012-02-21    1
2016-07-10    1
2012-10-09    1
2017-05-23    1
2011-10-07    1
2010-09-22    1
2012-10-13    1
2016-03-16    1
2016-06-09    1
2016-05-07    1
2011-06-06    1
2017-05-08    1
2010-08-18    1
2011-08-15    1
2013-06-19    1
2017-01-14    1
2016-10-02    1
2012-11-03    1
2013-03-15    1
2010-06-01    1
2013-04-27    1
2016-02-20    1
2010-10-20    1
2015-04-07    1
2017-04-21    1
2011-03-29    1
Name: Date, Length: 2486, dtype: int64

In [9]:
weather.Rainfall.value_counts()

0.0     3167
0.2      309
0.4      124
1.0       81
0.6       79
0.8       67
1.4       65
1.2       54
1.8       44
1.6       37
2.2       35
2.6       34
2.4       31
2.0       30
3.0       28
3.6       26
2.8       25
3.2       23
4.0       20
4.2       17
3.8       17
4.8       15
3.4       15
4.6       15
8.0       13
6.0       13
7.8       12
5.6       12
4.4       12
10.0      11
        ...
21.8       1
6.4        1
43.2       1
45.0       1
21.2       1
74.8       1
25.2       1
58.2       1
20.4       1
27.4       1
14.2       1
32.2       1
23.6       1
46.8       1
73.2       1
53.6       1
19.0       1
29.8       1
57.6       1
11.6       1
53.8       1
24.6       1
19.6       1
38.8       1
38.0       1
33.0       1
8.5        1
27.0       1
42.0       1
54.2       1
Name: Rainfall, Length: 198, dtype: int64

In [10]:
weather.Sunshine.value_counts()

0.0     81
11.1    44
9.5     41
10.2    40
10.5    39
10.7    38
9.2     37
10.9    37
10.3    36
9.6     35
10.6    33
9.8     33
9.4     33
10.8    32
10.1    31
10.4    31
11.4    30
13.0    30
8.2     30
11.8    29
9.9     29
9.0     29
11.2    29
9.3     28
9.7     28
11.0    28
5.2     26
10.0    26
8.6     25
8.0     25
        ..
0.4     10
1.8     10
3.1     10
2.2     10
2.7     10
0.5     10
3.6     10
1.3      9
2.4      9
5.6      9
1.5      9
0.9      9
3.3      9
12.9     8
4.4      8
1.7      8
13.5     7
4.9      7
3.4      7
2.8      6
0.6      6
1.1      6
2.5      6
1.2      6
13.6     5
1.9      5
13.7     4
13.8     3
14.0     2
14.3     1
Name: Sunshine, Length: 141, dtype: int64

In [11]:
weather.Cloud9am.value_counts()

7.0    686
1.0    538
8.0    488
0.0    307
6.0    273
2.0    239
5.0    220
3.0    209
4.0    163
Name: Cloud9am, dtype: int64

In [12]:
# 查看整体的信息
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
Date             5000 non-null object
Location         5000 non-null object
MinTemp          4968 non-null float64
MaxTemp          4986 non-null float64
Rainfall         4937 non-null float64
Evaporation      2813 non-null float64
Sunshine         2592 non-null float64
WindGustDir      4640 non-null object
WindGustSpeed    4642 non-null float64
WindDir9am       4650 non-null object
WindDir3pm       4854 non-null object
WindSpeed9am     4951 non-null float64
WindSpeed3pm     4896 non-null float64
Humidity9am      4947 non-null float64
Humidity3pm      4869 non-null float64
Pressure9am      4459 non-null float64
Pressure3pm      4458 non-null float64
Cloud9am         3123 non-null float64
Cloud3pm         2989 non-null float64
Temp9am          4974 non-null float64
Temp3pm          4895 non-null float64
RainTomorrow     5000 non-null object
dtypes: float64(16), object(6)
memory usage: 859.5+ KB

In [13]:
# 分别提取特征矩阵和标签
X=weather.iloc[:,:-1]
Y=weather.iloc[:,-1]

In [14]:
X.shape

(5000, 21)

In [15]:
Y.shape

(5000,)

In [16]:
np.unique(Y)  #查看标签类别

array(['No', 'Yes'], dtype=object)

In [17]:
# 查看缺失值的比例（各特征列的比例）
X.isnull().mean()

Date             0.0000
Location         0.0000
MinTemp          0.0064
MaxTemp          0.0028
Rainfall         0.0126
Evaporation      0.4374
Sunshine         0.4816
WindGustDir      0.0720
WindGustSpeed    0.0716
WindDir9am       0.0700
WindDir3pm       0.0292
WindSpeed9am     0.0098
WindSpeed3pm     0.0208
Humidity9am      0.0106
Humidity3pm      0.0262
Pressure9am      0.1082
Pressure3pm      0.1084
Cloud9am         0.3754
Cloud3pm         0.4022
Temp9am          0.0052
Temp3pm          0.0210
dtype: float64

# 切分数据集

In [18]:
# 先划分数据集，在归一化、或标准化  ，反之的话会提前告知模型测试集的特征

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.3,random_state=420)

In [21]:
Xtrain.shape

(3500, 21)

In [22]:
# 恢复索引
for i in [Xtrain,Xtest,Ytrain,Ytest]:
    i.index=range(i.shape[0])

In [23]:
Xtest.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,2015-07-16,Launceston,-0.6,10.8,0.0,NaN,NaN,SE,20.0,E,...,2.0,7.0,94.0,54.0,NaN,NaN,NaN,NaN,1.9,10.6
1,2015-04-28,Adelaide,8.7,16.7,0.0,1.6,NaN,SE,22.0,NaN,...,0.0,9.0,68.0,46.0,1030.8,1028.4,NaN,NaN,14.1,16.0
2,2015-03-21,Portland,7.7,19.0,0.0,5.4,10.3,E,33.0,SE,...,9.0,15.0,62.0,50.0,1027.7,1026.0,8.0,1.0,13.9,18.4
3,2009-02-22,Portland,14.8,21.7,0.0,2.2,12.5,ESE,33.0,ESE,...,17.0,19.0,61.0,47.0,1018.5,1015.2,6.0,3.0,15.9,21.5
4,2017-02-20,Portland,10.8,18.2,2.0,NaN,NaN,SSW,37.0,SW,...,15.0,22.0,74.0,55.0,1015.8,1016.7,7.0,8.0,13.1,16.8

In [24]:
# 查看标签是否存在样本不均衡问题
Ytrain.value_counts()
# 训练集中存在样本不均衡问题

No     2710
Yes     790
Name: RainTomorrow, dtype: int64

In [25]:
Ytest.value_counts()

No     1137
Yes     363
Name: RainTomorrow, dtype: int64

In [26]:
# 对标签进行编码
from sklearn.preprocessing import LabelEncoder #标签专用编码包
from sklearn.preprocessing import OrdinalEncoder #特征专用包
# reshape（-1,1）转换成二维的数组

In [27]:
encoder=LabelEncoder().fit(Ytrain)  # 模型中相当于是[0,1]

In [28]:
encoder

LabelEncoder()

In [29]:
encoder.classes_ # 查看分类属性
# 按首字母进行排序

array(['No', 'Yes'], dtype=object)

In [30]:
encoder.transform(Ytrain)

array([0, 0, 1, ..., 0, 0, 0])

In [31]:
encoder.transform(Ytest)

array([0, 0, 0, ..., 0, 0, 1])

In [32]:
# 关于fit/transform/fit_transform
#fit完之后得到模型，如果想把模型运行到不同对象上，就选fit 和transform 分开用
#若想要fit之后的模型运用到一个对象上，用fit_transform

In [33]:
Ytrain=pd.DataFrame(encoder.transform(Ytrain))
Ytest=pd.DataFrame(encoder.transform(Ytest))

In [34]:
Ytrain.head()

   0
0  0
1  0
2  1
3  0
4  0

In [35]:
Ytest.head()

   0
0  0
1  0
2  0
3  0
4  0

## 处理特征矩阵

### 1 描述性统计与异常值

In [36]:
# 描述统计
Xtrain.describe([0.01,0.05,0.1,0.25,0.5,0.75,0.9,0.99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,99%,max
MinTemp,3477.0,12.340236,6.384294,-6.9,-2.024,2.1,4.3,7.700,12.1,17.0,20.9,25.824,29.1
MaxTemp,3492.0,23.232904,6.992256,-4.1,8.900,12.7,14.6,18.200,22.7,28.1,32.8,39.600,43.7
Rainfall,3460.0,2.106618,6.570495,0.0,0.000,0.0,0.0,0.000,0.0,0.8,6.0,35.400,102.0
Evaporation,1986.0,5.398489,3.837948,0.0,0.400,1.0,1.4,2.725,4.8,7.4,9.8,17.430,52.4
Sunshine,1835.0,7.723869,3.691531,0.0,0.000,0.4,2.0,5.100,8.5,10.6,12.0,13.400,14.3
WindGustSpeed,3254.0,39.878611,13.492322,9.0,15.000,20.0,24.0,31.000,39.0,46.0,57.0,81.000,115.0
WindSpeed9am,3470.0,13.924784,8.861956,0.0,0.000,0.0,4.0,7.000,13.0,19.0,26.0,39.000,52.0
WindSpeed3pm,3426.0,18.765032,8.915825,0.0,2.000,6.0,7.0,13.000,19.0,24.0,30.0,43.000,78.0
Humidity9am,3460.0,68.844509,18.918369,5.0,18.000,35.0,44.0,57.000,70.0,83.0,94.0,100.000,100.0
Humidity3pm,3405.0,51.628781,20.705426,1.0,9.000,17.0,24.0,37.000,52.0,65.0,79.6,97.960,100.0
Pressure9am,3136.0,1017.538520,7.112893,982.0,999.505,1006.1,1008.7,1012.700,1017.6,1022.3,1026.7,1033.300,1038.8
Pressure3pm,3135.0,1015.140542,7.019753,986.4,997.900,1003.9,1006.4,1010.400,1015.1,1019.9,1024.2,1030.566,1036.6
Cloud9am,2213.0,4.463624,2.860557,0.0,0.000,0.0,1.0,1.000,5.0,7.0,8.0,8.000,8.0
Cloud3pm,2118.0,4.540132,2.707265,0.0,0.000,0.0,1.0,2.000,5.0,7.0,8.0,8.000,8.0
Temp9am,3481.0,17.058115,6.410628,-4.2,2.600,7.2,9.0,12.400,16.8,21.5,25.8,31.020,34.3
Temp3pm,3426.0,21.671979,6.852293,-4.4,7.525,11.5,13.2,16.900,21.0,26.4,31.0,38.100,42.4

In [37]:
Xtest.describe([0.01,0.05,0.1,0.25,0.5,0.75,0.9,0.99]).T

,count,mean,std,min,1%,5%,10%,25%,50%,75%,90%,99%,max
MinTemp,1491.0,12.211335,6.458887,-6.3,-2.500,1.50,3.90,7.6,12.2,16.800,20.70,25.610,28.5
MaxTemp,1494.0,23.330857,7.380122,-0.6,7.686,12.60,14.40,18.0,22.7,28.775,33.50,40.500,44.4
Rainfall,1477.0,2.338456,8.114066,0.0,0.000,0.00,0.00,0.0,0.0,0.800,6.20,31.632,164.2
Evaporation,827.0,5.492745,4.007532,0.0,0.200,0.80,1.40,2.6,4.8,7.600,10.40,16.000,58.5
Sunshine,757.0,7.756803,3.815881,0.0,0.000,0.48,1.66,4.9,8.6,10.700,12.30,13.400,14.0
WindGustSpeed,1388.0,40.164986,14.144410,11.0,15.000,20.00,24.00,30.0,39.0,48.000,57.00,87.000,102.0
WindSpeed9am,1481.0,14.135719,9.018514,0.0,0.000,0.00,4.00,7.0,13.0,19.000,26.00,37.400,72.0
WindSpeed3pm,1470.0,18.759184,9.002335,0.0,2.000,6.00,8.80,13.0,19.0,24.000,30.00,44.620,65.0
Humidity9am,1487.0,67.854069,19.342026,8.0,16.860,32.30,42.60,56.0,68.0,83.000,94.00,100.000,100.0
Humidity3pm,1464.0,50.962432,21.100400,4.0,8.000,15.00,23.00,35.0,52.0,65.000,79.00,97.370,100.0
Pressure9am,1323.0,1017.612774,7.341883,984.6,999.344,1006.10,1008.82,1013.2,1017.3,1022.200,1027.50,1034.678,1039.2
Pressure3pm,1323.0,1015.180726,7.250920,986.6,997.210,1003.62,1006.30,1010.6,1015.0,1019.700,1024.88,1032.156,1036.9
Cloud9am,910.0,4.242857,2.888338,0.0,0.000,0.00,0.00,1.0,5.0,7.000,8.00,8.000,8.0
Cloud3pm,871.0,4.311137,2.790930,0.0,0.000,0.00,1.00,1.0,5.0,7.000,8.00,8.000,8.0
Temp9am,1493.0,17.139049,6.734101,-3.4,0.700,6.70,8.70,12.4,17.0,22.000,26.10,31.908,34.8
Temp3pm,1469.0,21.737849,7.202093,-2.1,6.304,11.14,13.08,16.6,21.2,26.700,31.80,38.700,43.4

In [38]:
Xtrain.mean() #返回每一列的均值

MinTemp            12.340236
MaxTemp            23.232904
Rainfall            2.106618
Evaporation         5.398489
Sunshine            7.723869
WindGustSpeed      39.878611
WindSpeed9am       13.924784
WindSpeed3pm       18.765032
Humidity9am        68.844509
Humidity3pm        51.628781
Pressure9am      1017.538520
Pressure3pm      1015.140542
Cloud9am            4.463624
Cloud3pm            4.540132
Temp9am            17.058115
Temp3pm            21.671979
dtype: float64

In [39]:
#提取特征名
#提取出所有的数值型特征的列名
col = Xtrain.mean().index
col

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm'],
      dtype='object')

In [40]:
len(col)
# 有两个'Cloud9am', 'Cloud3pm'虽然是数值型的，但是分类的数据

16

In [41]:
np.abs((Xtrain.loc[:,col] - Xtrain.mean())/Xtrain.std())>3

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3470,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3471,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3472,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3473,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3474,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3475,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3476,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3477,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3478,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3479,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
3480,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3481,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3482,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3483,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3484,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3485,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3486,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3487,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3488,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3489,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3490,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3491,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3492,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3493,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3494,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3495,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3496,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3497,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3498,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3499,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [42]:
(np.abs((Xtrain.loc[:,col] - Xtrain.mean())/Xtrain.std())>3).sum()
#每一列的异常值个数

MinTemp           1
MaxTemp           8
Rainfall         76
Evaporation      22
Sunshine          0
WindGustSpeed    37
WindSpeed9am     34
WindSpeed3pm     21
Humidity9am      13
Humidity3pm       0
Pressure9am      12
Pressure3pm      10
Cloud9am          0
Cloud3pm          0
Temp9am           4
Temp3pm           9
dtype: int64

In [43]:
#查看训练集各列异常值的比例
(np.abs((Xtrain.loc[:,col] - Xtrain.mean())/Xtrain.std())>3).sum()/Xtrain.shape[0]
# Xtrain.shape[0] 每列总的数量

MinTemp          0.000286
MaxTemp          0.002286
Rainfall         0.021714
Evaporation      0.006286
Sunshine         0.000000
WindGustSpeed    0.010571
WindSpeed9am     0.009714
WindSpeed3pm     0.006000
Humidity9am      0.003714
Humidity3pm      0.000000
Pressure9am      0.003429
Pressure3pm      0.002857
Cloud9am         0.000000
Cloud3pm         0.000000
Temp9am          0.001143
Temp3pm          0.002571
dtype: float64

##### 删除异常值

In [44]:
#提取出所有训练集所有异常值的索引
deltrain = []
for i in col:  # 循环所有列
    bool_ = np.abs((Xtrain.loc[:,i] - Xtrain.loc[:,i].mean())/Xtrain.loc[:,i].std())>3
    ind = Xtrain[bool_].index
    deltrain.extend(list(ind))
    # 存在重复值

In [45]:
len(deltrain)

247

In [46]:
len(set(deltrain))  # 查看真实的

199

In [47]:
list(set(deltrain))

[2562,
 2,
 1539,
 3085,
 3086,
 2576,
 1042,
 3094,
 2583,
 1049,
 1562,
 1567,
 35,
 1062,
 551,
 41,
 3114,
 1067,
 1069,
 3119,
 1073,
 52,
 2046,
 1591,
 57,
 61,
 3134,
 1086,
 2624,
 2110,
 576,
 2119,
 586,
 590,
 2126,
 2128,
 1617,
 2648,
 2651,
 607,
 3171,
 2665,
 3190,
 1143,
 3192,
 2681,
 121,
 638,
 2686,
 1664,
 1152,
 1666,
 3204,
 2183,
 1162,
 2700,
 3216,
 2706,
 659,
 663,
 2714,
 3229,
 2211,
 1189,
 2728,
 3242,
 1707,
 1194,
 2732,
 1198,
 177,
 2227,
 1716,
 2741,
 2742,
 184,
 698,
 1213,
 3263,
 192,
 706,
 2245,
 1221,
 715,
 3277,
 206,
 1746,
 211,
 3284,
 213,
 214,
 2773,
 2776,
 3289,
 2268,
 3298,
 1250,
 231,
 3308,
 1262,
 3313,
 2802,
 243,
 2289,
 3317,
 1271,
 760,
 254,
 3327,
 1284,
 1800,
 3337,
 1295,
 3346,
 3351,
 3354,
 2842,
 2335,
 800,
 2850,
 803,
 1316,
 294,
 1836,
 1843,
 3386,
 827,
 1339,
 1341,
 3393,
 3394,
 1347,
 837,
 2376,
 3400,
 1866,
 844,
 1869,
 2892,
 3408,
 2384,
 338,
 853,
 2908,
 350,
 1890,
 1379,
 868,
 870,
 871,
 1898,
 874,
 1393,
 371,
 2419,
 2423,
 2426,
 380,
 1408,
 387,
 1923,
 389,
 3466,
 1420,
 909,
 911,
 1936,
 2451,
 3479,
 418,
 421,
 423,
 1454,
 1966,
 944,
 2994,
 1975,
 2999,
 959,
 447,
 1471,
 2501,
 969,
 972,
 463,
 1496,
 474,
 2012,
 3038,
 1505,
 997,
 1510,
 3048,
 2537,
 3051,
 3055,
 3056,
 1521,
 510]

In [48]:
#去重之后有异常值的行索引
deltrain1 = list(set(deltrain))

In [49]:
#查看测试集各列缺失值（注意这里的均值和方差需要用训练集的）
# 统一步伐
(np.abs((Xtest.loc[:,col] - Xtrain.mean())/Xtrain.std())>3).sum()/Xtest.shape[0]

MinTemp          0.000000
MaxTemp          0.004000
Rainfall         0.024667
Evaporation      0.004667
Sunshine         0.000000
WindGustSpeed    0.013333
WindSpeed9am     0.007333
WindSpeed3pm     0.010000
Humidity9am      0.004667
Humidity3pm      0.000000
Pressure9am      0.004000
Pressure3pm      0.004000
Cloud9am         0.000000
Cloud3pm         0.000000
Temp9am          0.000667
Temp3pm          0.005333
dtype: float64

In [50]:
#提取出测试集的所有异常值的索引
deltest = []
for i in col:
    bool_ = np.abs((Xtest.loc[:,i] -
    Xtrain.loc[:,i].mean())/Xtrain.loc[:,i].std())>3
    ind = Xtest[bool_].index
    deltest.extend(list(ind))

In [51]:
#去重之后有异常值的行索引
deltest1 = list(set(deltest))

In [52]:
len(deltest)

124

In [53]:
len(deltest1)

90

In [54]:
#删除异常值（特征和标签都要删除）
Xtrain = Xtrain.drop(index=deltrain1)
Ytrain = Ytrain.drop(index=deltrain1)
Xtest = Xtest.drop(index=deltest1)
Ytest = Ytest.drop(index=deltest1)

In [55]:
#删除完毕之后，观察原始的数据结构，确认删除正确
Xtrain.shape

(3301, 21)

In [56]:
Xtest.shape  # 查看删除是否正确

(1410, 21)

In [57]:
#进行任何行删除之后，千万记得要恢复索引
for i in [Xtrain, Xtest, Ytrain, Ytest]:
    i.index = range(i.shape[0])

## 2 处理困难特征：日期

In [58]:
Xtrainc = Xtrain.copy()
Xtrainc.head(3)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
0,2016-03-14,Williamtown,19.0,29.8,0.0,7.6,7.6,SE,28.0,NW,...,13.0,19.0,83.0,58.0,1016.4,1013.5,7.0,3.0,23.3,29.2
1,2014-09-15,Hobart,5.8,12.6,0.0,3.4,6.8,ESE,31.0,N,...,15.0,19.0,NaN,46.0,1019.0,1016.6,7.0,1.0,8.1,11.6
2,2015-07-17,Watsonia,6.6,11.8,2.6,1.2,2.0,S,39.0,SW,...,11.0,20.0,100.0,81.0,1022.0,1021.7,8.0,7.0,8.1,11.5

In [59]:
Xtrain.iloc[:,0].value_counts()

2015-11-06    6
2009-08-23    6
2016-02-21    5
2009-02-22    5
2009-08-14    5
2015-02-06    5
2015-01-18    5
2013-08-22    5
2009-11-29    5
2015-10-10    5
2015-07-13    5
2011-09-11    5
2015-02-09    5
2014-10-29    4
2013-09-09    4
2010-04-25    4
2010-02-27    4
2015-11-27    4
2014-01-20    4
2015-09-24    4
2012-11-29    4
2013-09-10    4
2015-04-03    4
2009-01-05    4
2010-04-03    4
2011-10-22    4
2014-11-03    4
2014-04-18    4
2009-01-20    4
2010-06-29    4
             ..
2008-12-19    1
2013-06-09    1
2016-06-21    1
2010-09-28    1
2011-10-03    1
2017-03-01    1
2012-10-04    1
2017-03-15    1
2016-02-13    1
2014-11-14    1
2010-11-13    1
2013-12-30    1
2010-05-05    1
2014-12-09    1
2011-08-12    1
2011-05-19    1
2010-01-23    1
2017-01-05    1
2008-08-26    1
2014-12-04    1
2009-12-24    1
2014-01-01    1
2015-07-18    1
2012-08-10    1
2013-04-13    1
2015-02-05    1
2009-01-13    1
2015-08-12    1
2010-10-23    1
2016-08-13    1
Name: Date, Length: 2025, dtype: int64

In [60]:
Xtrain.iloc[:,0].value_counts().count()

2025

In [61]:
Xtrain[Xtrain.Date=='2015-11-06']

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
138,2015-11-06,MountGambier,12.4,16.5,1.6,1.8,3.7,WSW,39.0,SW,...,17.0,26.0,96.0,64.0,1013.3,1014.2,8.0,7.0,12.6,15.0
1204,2015-11-06,CoffsHarbour,20.1,28.3,7.2,NaN,NaN,NE,46.0,NNE,...,17.0,31.0,81.0,66.0,1010.9,1006.4,NaN,NaN,23.3,25.6
1854,2015-11-06,Ballarat,12.6,15.0,1.4,NaN,NaN,WSW,35.0,SW,...,17.0,22.0,100.0,99.0,1010.2,1010.9,7.0,8.0,12.8,14.8
2332,2015-11-06,MountGinini,7.5,10.8,16.0,NaN,NaN,W,43.0,W,...,15.0,11.0,97.0,97.0,NaN,NaN,NaN,NaN,8.5,9.7
2732,2015-11-06,Newcastle,17.7,30.0,2.0,NaN,NaN,NaN,NaN,N,...,9.0,NaN,75.0,NaN,NaN,NaN,5.0,NaN,24.0,NaN
2911,2015-11-06,Launceston,15.8,26.2,5.0,NaN,NaN,NNW,35.0,NNW,...,4.0,20.0,88.0,66.0,NaN,NaN,7.0,8.0,17.9,24.1

In [62]:
# 查看重复值
Xtrain.duplicated().sum()
# 删除重复值用.drop_duplicates()

0

In [63]:
# 查看日期种类方法二
len(set(Xtrain.Date))

2025

In [64]:
Xtrain.Rainfall.value_counts()

0.0     2157
0.2      209
0.4       90
1.0       54
0.6       48
0.8       45
1.4       43
1.2       35
1.8       31
1.6       28
2.2       21
2.0       21
2.4       21
2.6       21
3.6       20
3.0       19
3.2       15
2.8       15
3.8       13
6.0       12
4.0       11
4.8       10
3.4       10
4.6        9
4.2        9
9.8        9
5.8        8
7.2        8
5.6        8
11.8       7
        ...
8.2        2
21.6       2
21.0       2
17.4       2
20.0       2
19.8       1
0.3        1
21.2       1
1.1        1
19.0       1
15.4       1
18.4       1
19.2       1
2.3        1
21.8       1
19.6       1
5.5        1
18.0       1
14.0       1
8.5        1
15.8       1
6.9        1
11.6       1
18.6       1
13.6       1
14.2       1
16.4       1
18.8       1
19.4       1
17.8       1
Name: Rainfall, Length: 113, dtype: int64

In [65]:
Xtrain.Rainfall.head(10)

0    0.0
1    0.0
2    2.6
3    0.0
4    0.0
5    0.0
6    1.0
7    0.0
8    0.0
9    0.0
Name: Rainfall, dtype: float64

In [66]:
#查看Rainfall列是否有缺失值
Xtrain.Rainfall.isnull().sum()

38

In [67]:
Xtrain.loc[Xtrain["Rainfall"] >= 1,"RainToday"] = "Yes"
Xtrain.loc[Xtrain["Rainfall"] < 1,"RainToday"] = "No"
Xtrain.loc[Xtrain["Rainfall"] == np.nan,"RainToday"] = np.nan
# 此处可以设置成0 no 1 yes

In [68]:
Xtrain.head(6)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,2016-03-14,Williamtown,19.0,29.8,0.0,7.6,7.6,SE,28.0,NW,...,19.0,83.0,58.0,1016.4,1013.5,7.0,3.0,23.3,29.2,No
1,2014-09-15,Hobart,5.8,12.6,0.0,3.4,6.8,ESE,31.0,N,...,19.0,NaN,46.0,1019.0,1016.6,7.0,1.0,8.1,11.6,No
2,2015-07-17,Watsonia,6.6,11.8,2.6,1.2,2.0,S,39.0,SW,...,20.0,100.0,81.0,1022.0,1021.7,8.0,7.0,8.1,11.5,Yes
3,2015-01-12,Uluru,18.0,34.6,0.0,NaN,NaN,SW,39.0,E,...,17.0,64.0,32.0,1006.7,1003.1,NaN,1.0,24.6,33.2,No
4,2017-02-25,Launceston,13.3,23.2,0.0,NaN,NaN,NNW,35.0,SSE,...,9.0,43.0,33.0,NaN,NaN,6.0,1.0,14.5,22.4,No
5,2014-09-14,Richmond,9.1,25.5,0.0,NaN,NaN,SE,35.0,ENE,...,4.0,95.0,41.0,1020.8,1014.9,3.0,1.0,14.0,25.2,No

In [69]:
Xtrain['RainToday'].value_counts()

No     2555
Yes     708
Name: RainToday, dtype: int64

In [70]:
Xtrain['RainToday'].value_counts().sum()

3263

In [71]:
Xtest.loc[Xtest["Rainfall"] >= 1,"RainToday"] = "Yes"
Xtest.loc[Xtest["Rainfall"] < 1,"RainToday"] = "No"
Xtest.loc[Xtest["Rainfall"] == np.nan,"RainToday"] = np.nan

In [72]:
Xtest.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,2015-07-16,Launceston,-0.6,10.8,0.0,NaN,NaN,SE,20.0,E,...,7.0,94.0,54.0,NaN,NaN,NaN,NaN,1.9,10.6,No
1,2015-04-28,Adelaide,8.7,16.7,0.0,1.6,NaN,SE,22.0,NaN,...,9.0,68.0,46.0,1030.8,1028.4,NaN,NaN,14.1,16.0,No
2,2015-03-21,Portland,7.7,19.0,0.0,5.4,10.3,E,33.0,SE,...,15.0,62.0,50.0,1027.7,1026.0,8.0,1.0,13.9,18.4,No
3,2009-02-22,Portland,14.8,21.7,0.0,2.2,12.5,ESE,33.0,ESE,...,19.0,61.0,47.0,1018.5,1015.2,6.0,3.0,15.9,21.5,No
4,2017-02-20,Portland,10.8,18.2,2.0,NaN,NaN,SSW,37.0,SW,...,22.0,74.0,55.0,1015.8,1016.7,7.0,8.0,13.1,16.8,Yes

In [73]:
Xtest['RainToday'].value_counts().sum()

1388

###### 日期中的月份对降雨量有一定的影响

In [74]:
# 提取月份
int(Xtrain.loc[0,'Date'].split('-')[1])

3

In [75]:
# for 循环
Xtrain['Date']=Xtrain['Date'].apply(lambda x :int(x.split('-')[1]))
# apply 与lambda 构成循环

In [77]:
# # rename
Xtrain=Xtrain.rename(columns={'Date':'Month'})
Xtrain.head()

,Month,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,3,Williamtown,19.0,29.8,0.0,7.6,7.6,SE,28.0,NW,...,19.0,83.0,58.0,1016.4,1013.5,7.0,3.0,23.3,29.2,No
1,9,Hobart,5.8,12.6,0.0,3.4,6.8,ESE,31.0,N,...,19.0,NaN,46.0,1019.0,1016.6,7.0,1.0,8.1,11.6,No
2,7,Watsonia,6.6,11.8,2.6,1.2,2.0,S,39.0,SW,...,20.0,100.0,81.0,1022.0,1021.7,8.0,7.0,8.1,11.5,Yes
3,1,Uluru,18.0,34.6,0.0,NaN,NaN,SW,39.0,E,...,17.0,64.0,32.0,1006.7,1003.1,NaN,1.0,24.6,33.2,No
4,2,Launceston,13.3,23.2,0.0,NaN,NaN,NNW,35.0,SSE,...,9.0,43.0,33.0,NaN,NaN,6.0,1.0,14.5,22.4,No

In [80]:
Xtest["Date"] = Xtest["Date"].apply(lambda x:int(x.split("-")[1]))
Xtest = Xtest.rename(columns={"Date":"Month"})

KeyError: 'Date'

In [82]:
Xtest.head()

,Month,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,7,Launceston,-0.6,10.8,0.0,NaN,NaN,SE,20.0,E,...,7.0,94.0,54.0,NaN,NaN,NaN,NaN,1.9,10.6,No
1,4,Adelaide,8.7,16.7,0.0,1.6,NaN,SE,22.0,NaN,...,9.0,68.0,46.0,1030.8,1028.4,NaN,NaN,14.1,16.0,No
2,3,Portland,7.7,19.0,0.0,5.4,10.3,E,33.0,SE,...,15.0,62.0,50.0,1027.7,1026.0,8.0,1.0,13.9,18.4,No
3,2,Portland,14.8,21.7,0.0,2.2,12.5,ESE,33.0,ESE,...,19.0,61.0,47.0,1018.5,1015.2,6.0,3.0,15.9,21.5,No
4,2,Portland,10.8,18.2,2.0,NaN,NaN,SSW,37.0,SW,...,22.0,74.0,55.0,1015.8,1016.7,7.0,8.0,13.1,16.8,Yes

##  处理分类型变量：缺失值

In [83]:
#查看缺失值的缺失情况
Xtrain.isnull().mean()

Month            0.000000
Location         0.000000
MinTemp          0.006968
MaxTemp          0.002121
Rainfall         0.011512
Evaporation      0.432899
Sunshine         0.475613
WindGustDir      0.069979
WindGustSpeed    0.069676
WindDir9am       0.073614
WindDir3pm       0.029991
WindSpeed9am     0.008482
WindSpeed3pm     0.021509
Humidity9am      0.010906
Humidity3pm      0.027264
Pressure9am      0.102999
Pressure3pm      0.103302
Cloud9am         0.369888
Cloud3pm         0.396547
Temp9am          0.004847
Temp3pm          0.021206
RainToday        0.011512
dtype: float64

In [84]:
#首先找出，分类型特征都有哪些
cate = Xtrain.columns[Xtrain.dtypes == "object"].tolist()

In [85]:
#除了特征类型为"object"的特征们，还有虽然用数字表示，但是本质为分类型特征的云层遮蔽程度
cloud = ["Cloud9am","Cloud3pm"]
cate = cate + cloud
cate

['Location',
 'WindGustDir',
 'WindDir9am',
 'WindDir3pm',
 'RainToday',
 'Cloud9am',
 'Cloud3pm']

众数来进行填补

In [86]:
#对于分类型特征，我们使用众数来进行填补
from sklearn.impute import SimpleImputer

In [87]:
si = SimpleImputer(missing_values=np.nan,strategy="most_frequent")

In [88]:
Xtrain.loc[:,cate]

,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,Cloud9am,Cloud3pm
0,Williamtown,SE,NW,SE,No,7.0,3.0
1,Hobart,ESE,N,SE,No,7.0,1.0
2,Watsonia,S,SW,SSW,Yes,8.0,7.0
3,Uluru,SW,E,SW,No,NaN,1.0
4,Launceston,NNW,SSE,N,No,6.0,1.0
5,Richmond,SE,ENE,E,No,3.0,1.0
6,Cobar,SW,SSW,SW,Yes,8.0,8.0
7,Cairns,NNE,E,NNE,No,2.0,1.0
8,Ballarat,N,NNE,N,No,NaN,NaN
9,Launceston,NNW,NNW,NNW,No,8.0,8.0
10,SalmonGums,NE,NE,NE,Yes,NaN,NaN
11,Sale,WSW,W,WSW,No,4.0,6.0
12,Perth,SW,S,SSW,No,0.0,0.0
13,Richmond,S,WSW,SSW,No,8.0,NaN
14,Nuriootpa,NNE,NE,NNE,No,0.0,4.0
15,Townsville,ENE,E,NE,No,4.0,2.0
16,Mildura,NE,ENE,WSW,No,0.0,3.0
17,Walpole,SE,SSE,SE,Yes,NaN,NaN
18,Canberra,NW,NaN,N,No,NaN,NaN
19,Townsville,ENE,E,ENE,No,7.0,4.0
20,MountGambier,SSE,SSE,SSE,No,7.0,7.0
21,Nhil,W,NW,WNW,Yes,NaN,NaN
22,Williamtown,WSW,NW,W,Yes,8.0,8.0
23,Adelaide,ENE,ENE,NNE,No,NaN,NaN
24,Walpole,ESE,SSE,SSE,No,NaN,NaN
25,Melbourne,W,W,SSE,Yes,3.0,4.0
26,Albury,SSE,E,SSE,No,NaN,NaN
27,Cairns,SE,SE,ESE,No,3.0,NaN
28,MountGambier,SSW,S,SW,Yes,8.0,5.0
29,Brisbane,E,SE,ESE,Yes,8.0,8.0
...,...,...,...,...,...,...,...
3271,Albury,W,NaN,WNW,No,8.0,6.0
3272,Hobart,NNW,NW,NW,Yes,1.0,1.0
3273,Sydney,NE,E,NE,No,6.0,4.0
3274,NorahHead,NE,N,NNE,No,NaN,NaN
3275,Albany,NaN,SSW,SW,Yes,7.0,6.0
3276,Penrith,SSW,SW,S,NaN,NaN,NaN
3277,Brisbane,ENE,S,S,Yes,5.0,7.0
3278,Tuggeranong,W,NW,NW,No,NaN,NaN
3279,MountGinini,NW,NNW,NW,No,NaN,NaN
3280,Melbourne,NW,NNW,WNW,No,3.0,7.0
3281,Walpole,SW,SW,WSW,Yes,NaN,NaN
3282,PearceRAAF,E,E,ESE,NaN,NaN,NaN
3283,Melbourne,NNW,N,WSW,No,4.0,NaN
3284,MountGambier,WSW,WNW,WSW,Yes,7.0,5.0
3285,MountGambier,W,N,WNW,Yes,1.0,6.0
3286,Launceston,NW,NE,NNW,No,1.0,7.0
3287,Mildura,W,N,WNW,No,0.0,NaN
3288,Williamtown,SE,NE,SE,No,8.0,3.0
3289,Tuggeranong,WNW,ESE,W,Yes,NaN,NaN
3290,Townsville,ENE,ESE,ENE,No,7.0,6.0
3291,Walpole,NW,NW,NNW,No,NaN,NaN
3292,Tuggeranong,NNW,NNW,NW,No,NaN,NaN
3293,Cobar,S,S,WSW,No,1.0,1.0
3294,Cairns,NNE,E,NE,No,1.0,1.0
3295,AliceSprings,WSW,E,SSW,No,0.0,2.0
3296,Uluru,SE,SSE,N,No,NaN,NaN
3297,Richmond,SSE,SSW,SE,Yes,NaN,NaN
3298,NorahHead,NNE,N,NE,No,NaN,NaN
3299,Richmond,W,NaN,SW,No,NaN,NaN
3300,Cobar,SW,WSW,SW,No,NaN,NaN

In [91]:
si.fit(Xtrain.loc[:,cate])  #这里返回的是每一列的众数

SimpleImputer(copy=True, fill_value=None, missing_values=nan,
       strategy='most_frequent', verbose=0)

In [92]:
#然后我们用训练集中的众数来同时填补训练集和测试集
Xtrain.loc[:,cate] = si.transform(Xtrain.loc[:,cate])
Xtest.loc[:,cate] = si.transform(Xtest.loc[:,cate])

In [97]:
Xtrain.loc[:,cate].isnull().mean()

Location       0.0
WindGustDir    0.0
WindDir9am     0.0
WindDir3pm     0.0
RainToday      0.0
Cloud9am       0.0
Cloud3pm       0.0
dtype: float64

In [96]:
#确认测试集是否有缺失值
Xtest.loc[:,cate].isnull().mean()
#结果表明不存在缺失值

Location       0.0
WindGustDir    0.0
WindDir9am     0.0
WindDir3pm     0.0
RainToday      0.0
Cloud9am       0.0
Cloud3pm       0.0
dtype: float64

###### 处理分类型变量：将分类型变量编码

In [102]:
from sklearn.preprocessing import OrdinalEncoder  #特征专用编码包
oe= OrdinalEncoder() #实例化

In [103]:
#利用训练集进行fit
oe=oe.fit(Xtrain.loc[:,cate])

In [104]:
Xtrain.loc[:,cate] = oe.transform(Xtrain.loc[:,cate])
Xtest.loc[:,cate]=oe.transform(Xtest.loc[:,cate])

In [105]:
Xtrain.loc[:,cate].head()

,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,Cloud9am,Cloud3pm
0,45.0,9.0,7.0,9.0,0.0,7.0,3.0
1,15.0,2.0,3.0,9.0,0.0,7.0,1.0
2,44.0,8.0,12.0,11.0,1.0,8.0,7.0
3,41.0,12.0,0.0,12.0,0.0,7.0,1.0
4,17.0,6.0,10.0,3.0,0.0,6.0,1.0

In [106]:
Xtrain.loc[:,cate].head()

,Location,WindGustDir,WindDir9am,WindDir3pm,RainToday,Cloud9am,Cloud3pm
0,45.0,9.0,7.0,9.0,0.0,7.0,3.0
1,15.0,2.0,3.0,9.0,0.0,7.0,1.0
2,44.0,8.0,12.0,11.0,1.0,8.0,7.0
3,41.0,12.0,0.0,12.0,0.0,7.0,1.0
4,17.0,6.0,10.0,3.0,0.0,6.0,1.0

## 处理连续型变量 ： 填补缺失值

In [109]:
#用均值进行填补
#提取连续型特征的名字
col= Xtrain.columns.tolist()

In [110]:
for i in cate:
    col.remove(i)

In [111]:
col

['Month',
 'MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Temp9am',
 'Temp3pm']

In [112]:
#实例化模型，填补策略为"mean"表示均值
impmean = SimpleImputer(missing_values=np.nan,strategy = "mean")

In [114]:
#用训练集来fit模型
impmean = impmean.fit(Xtrain.loc[:,col])
# 计算出了每一列的均值

In [115]:
#分别在训练集和测试集上进行均值填补
Xtrain.loc[:,col] = impmean.transform(Xtrain.loc[:,col])
Xtest.loc[:,col] = impmean.transform(Xtest.loc[:,col])

In [116]:
Xtrain.head()

,Month,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,3.0,45.0,19.0,29.8,0.0,7.600000,7.600000,9.0,28.0,7.0,...,19.0,83.000000,58.0,1016.400000,1013.50,7.0,3.0,23.3,29.2,0.0
1,9.0,15.0,5.8,12.6,0.0,3.400000,6.800000,2.0,31.0,3.0,...,19.0,68.771516,46.0,1019.000000,1016.60,7.0,1.0,8.1,11.6,0.0
2,7.0,44.0,6.6,11.8,2.6,1.200000,2.000000,8.0,39.0,12.0,...,20.0,100.000000,81.0,1022.000000,1021.70,8.0,7.0,8.1,11.5,1.0
3,1.0,41.0,18.0,34.6,0.0,5.173344,7.826516,12.0,39.0,0.0,...,17.0,64.000000,32.0,1006.700000,1003.10,7.0,1.0,24.6,33.2,0.0
4,2.0,17.0,13.3,23.2,0.0,5.173344,7.826516,6.0,35.0,10.0,...,9.0,43.000000,33.0,1017.898109,1015.46,6.0,1.0,14.5,22.4,0.0

In [117]:
Xtest.head()

,Month,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,7.0,17.0,-0.6,10.8,0.0,5.173344,7.826516,9.0,20.0,0.0,...,7.0,94.0,54.0,1017.898109,1015.46,7.0,7.0,1.9,10.6,0.0
1,4.0,0.0,8.7,16.7,0.0,1.600000,7.826516,9.0,22.0,3.0,...,9.0,68.0,46.0,1030.800000,1028.40,7.0,7.0,14.1,16.0,0.0
2,3.0,33.0,7.7,19.0,0.0,5.400000,10.300000,0.0,33.0,9.0,...,15.0,62.0,50.0,1027.700000,1026.00,8.0,1.0,13.9,18.4,0.0
3,2.0,33.0,14.8,21.7,0.0,2.200000,12.500000,2.0,33.0,2.0,...,19.0,61.0,47.0,1018.500000,1015.20,6.0,3.0,15.9,21.5,0.0
4,2.0,33.0,10.8,18.2,2.0,5.173344,7.826516,11.0,37.0,12.0,...,22.0,74.0,55.0,1015.800000,1016.70,7.0,8.0,13.1,16.8,1.0

In [119]:
# 确认训练集中是否有缺失值
Xtrain.isnull().sum()

Month            0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
dtype: int64

In [118]:
Xtest.isnull().sum()

Month            0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
dtype: int64

### 处理连续型变量：无量纲化

In [122]:
# 查看是否存在量纲问题
Xtrain.describe().T

,count,mean,std,min,25%,50%,75%,max
Month,3301.0,6.360497,3.431097,1.0,3.000000,6.000000,9.0,12.0
Location,3301.0,23.456831,14.057405,0.0,11.000000,23.000000,35.0,48.0
MinTemp,3301.0,12.254912,6.291149,-5.3,7.700000,12.000000,16.8,29.1
MaxTemp,3301.0,23.285641,6.788046,3.4,18.300000,22.800000,28.1,42.9
Rainfall,3301.0,1.299081,3.327557,0.0,0.000000,0.000000,0.6,21.8
Evaporation,3301.0,5.173344,2.381357,0.0,4.200000,5.173344,5.2,16.6
Sunshine,3301.0,7.826516,2.627575,0.0,7.826516,7.826516,8.9,14.3
WindGustDir,3301.0,7.771584,4.520786,0.0,4.000000,9.000000,11.0,15.0
WindGustSpeed,3301.0,38.749267,11.634887,9.0,31.000000,38.749267,44.0,80.0
WindDir9am,3301.0,6.932445,4.501917,0.0,3.000000,7.000000,11.0,15.0
WindDir3pm,3301.0,7.819146,4.557612,0.0,4.000000,8.000000,12.0,15.0
WindSpeed9am,3301.0,13.373663,8.169715,0.0,7.000000,13.000000,19.0,39.0
WindSpeed3pm,3301.0,18.304644,8.251028,0.0,13.000000,18.304644,24.0,44.0
Humidity9am,3301.0,68.771516,18.358447,13.0,57.000000,69.000000,82.0,100.0
Humidity3pm,3301.0,51.134226,19.716223,1.0,37.000000,51.134226,64.0,100.0
Pressure9am,3301.0,1017.898109,6.448790,996.3,1013.800000,1017.898109,1021.9,1038.3
Pressure3pm,3301.0,1015.460000,6.400043,994.6,1011.300000,1015.460000,1019.4,1035.2
Cloud9am,3301.0,5.365344,2.590390,0.0,3.000000,7.000000,7.0,8.0
Cloud3pm,3301.0,5.479249,2.433468,0.0,4.000000,7.000000,7.0,8.0
Temp9am,3301.0,17.022831,6.304441,-1.2,12.400000,16.900000,21.4,34.1
Temp3pm,3301.0,21.742464,6.573837,2.2,17.000000,21.400000,26.2,42.1
RainToday,3301.0,0.214480,0.410524,0.0,0.000000,0.000000,0.0,1.0

In [126]:
#移除Month
# col.remove('Month')

In [124]:
col

['MinTemp',
 'MaxTemp',
 'Rainfall',
 'Evaporation',
 'Sunshine',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Temp9am',
 'Temp3pm']

In [127]:
#对连续性数据进行标准化

from sklearn.preprocessing import StandardScaler
#实例化
ss = StandardScaler()
ss = ss.fit(Xtrain.loc[:,col]) #相当于生成每一个的均值、标准差
# 对数据进行标准化处理
Xtrain.loc[:,col] = ss.transform(Xtrain.loc[:,col])
Xtest.loc[:,col] = ss.transform(Xtest.loc[:,col])

In [128]:
Xtrain.head()

,Month,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,3.0,45.0,1.072318,0.959826,-0.390460,1.019177,-8.622049e-02,9.0,-0.924022,7.0,...,0.084288,0.775155,0.348282,-2.323437e-01,-3.062943e-01,7.0,3.0,0.995825,1.134599,0.0
1,9.0,15.0,-1.026186,-1.574423,-0.390460,-0.744791,-3.907299e-01,2.0,-0.666138,3.0,...,0.084288,0.000000,-0.260446,1.708938e-01,1.781508e-01,7.0,1.0,-1.415539,-1.543087,0.0
2,7.0,44.0,-0.899004,-1.692296,0.391013,-1.668774,-2.217786e+00,8.0,0.021553,12.0,...,0.205503,1.701299,1.515011,6.361679e-01,9.751411e-01,8.0,7.0,-1.415539,-1.558301,1.0
3,1.0,41.0,0.913340,1.667059,-0.390460,0.000000,-6.761467e-16,12.0,0.021553,0.0,...,-0.158143,-0.259948,-0.970628,-1.736730e+00,-1.931530e+00,7.0,1.0,1.202060,1.743163,0.0
4,2.0,17.0,0.166146,-0.012618,-0.390460,0.000000,-6.761467e-16,6.0,-0.322292,10.0,...,-1.127866,-1.404009,-0.919901,-1.763185e-14,-1.776614e-14,6.0,1.0,-0.400228,0.100038,0.0

##### 处理好的数据导出csv文件，便于未来使用

In [129]:
Xtrain.to_csv('weather_Xtrain.csv',encoding='utf-8')

In [131]:
Xtest.to_csv('weather_Xtest.csv',encoding='utf-8')

In [132]:
Ytrain.to_csv('weather_Ytrain.csv',encoding='utf-8')

In [133]:
Ytest.to_csv('weather_Ytest.csv',encoding='utf-8')

In [134]:
# Ytest.isnull().sum()

0    0
dtype: int64

In [135]:
# Ytrain.isnull().sum()

0    0
dtype: int64